{% extends 'base.html' %}

{% block title %} Internal of Frontend {% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">Hello there,<br> get to know some statistics about cinemas in Veneto!</h1>
            <p class="lead">Choose the District and get statistics about cinemas.</p>

            <!-- Display for Function 3 -->
            <form method="POST" action="{{ url_for('district_query' )}}" class="d-flex justify-content-center align-items-center flex-column">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.district_name.label }}
                    {{ form.district_name(class="form-control", placeholder="Choose a District from Veneto") }}
                </div>
                {{ form.submit(class="btn btn-primary mt-3") }}
            </form>

            <!-- Display the result here -->
            <div id="resultContainer" class="mt-3">
                {% if statistics %}
                    <p class="lead">{{ statistics }}</p>
                {% endif %}
                {% if error_message %}
                    <p class="text-danger">{{ error_message }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}