{% extends 'base.html' %}

{% block title %} Internal of Frontend {% endblock %}

{% block content %}

    <div class="container mt-5">
        <h1>Goodmorning again,<br> find your Veneto's Theater!</h1>
        <p>Insert the District from Veneto that you like the most to get its list of Theaters.</p>
        <p>You can choose between the following districts: <br>
            - Verona; <br>
            - Vicenza; <br>
            - Belluno; <br>
            - Treviso; <br>
            - Venezia; <br>
            - Padova; <br>
            - Rovigo.
        </p>

        <!-- Display for function 2 -->
        <form method="POST" action="{{ url_for('city_query' )}}">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.city_name.label }}
                {{ form.city_name(class="form-control", placeholder="Enter a City from Veneto") }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>

        <!-- Display the result here -->
        <div id="resultContainer" class="mt-3">
            {% if teatri %}
                <p>{{ teatri }}</p>
            {% endif %}
            {% if error_message %}
                <p class="text-danger">{{ error_message }}</p>
            {% endif %}
        </div>
        

    </div>


{% endblock %}